@using Microsoft.AspNetCore.Identity
@using MultiShop.Mvc.Models.ViewModels

@inject SignInManager<RegisterNewUser> _siginmanager
@inject UserManager<RegisterNewUser> UserManager

<ul class="navbar-nav col-md-8">
    @if (_siginmanager.IsSignedIn(User))
    {
        <li class="nav-item align-items-right">
            <a id="manage" class="nav-link text-light" asp-area="" asp-controller="" title="Manage"> @(User.FindFirst("Name").Value )</a>
        </li>
        <li class="nav-item align-items-right">
            <a class="nav-link text-light" asp-area="" asp-controller="UserAccount" asp-action="LogOut">Logout</a>
        </li>
        }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="UserAccount" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="UserAccount" asp-action="Login">LogIn</a>
        </li>
    }
</ul>
