@model MultiShop.Mvc.Models.ViewModels.Login

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="row">
    <div class="col-4 d-flex justify-content-center text-center">
        <h1>Login</h1>
    </div>
 
</div>
<hr/>
<div>
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <p>If not Register Yet .Please    <a asp-action="Register" asp-controller="UserAccount" style="color:black">Click Here</a></p>
       
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
