
@{
    ViewData["Title"] = "CopyCart";
}

<h1>CopyCart</h1>

<form method="post" asp-action="CartDecrypt" asp-controller="Cart">
    <input type="text" name="urlToDecrypt" />
    <input type="submit" />
</form>